<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-3 col-md-4"></div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Edycja konta</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :Hasło %> <i>(Pozostaw puste, jeżeli nie chcesz go zmieniać)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-lg" %>
            <% if @minimum_password_length %>
              <br />
              <em>(minimum <%= @minimum_password_length %> znaków)</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :Potwierdź_hasło %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control input-lg" %>
          </div>

          <div class="field">
            <%= f.label :Stare_hasło %> <i>(W celu autentykacji podaj dotychczasowe hasło)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control input-lg" %>
          </div>

          <div class="actions row">
            <div class="col-xs-3"></div>
            <%= f.submit "zapisz", class: "btn btn-lg btn-primary col-xs-6  mt-4", style: "margin-top: 20px"%>
          </div>
        <% end %>

        <div class="actions row">
          <div class="col-xs-1"></div>
          <hr class="dividing-line col-xs-10">
        </div>




        <p><h4>Zawiedziony?</h4> <%= button_to "usuń to konto", registration_path(resource_name), data: { confirm: "Jesteś pewny? :(?" }, method: :delete,
                                  class: "btn btn-lg btn-primary col-xs-12", style: "margin: 20px 0;" %></p>

        <%= link_to "powrót", :back, class: "link-devise" %>
      </div>

    </div>
  </div>
</div>