<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-3 col-md-4"></div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Zapomniałeś hasła?</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg" %>
          </div>

          <div class="actions row">
            <div class="col-xs-3"></div>
            <%= f.submit "zresetuj hasło", class: "btn btn-lg btn-primary col-xs-6  mt-4", style: "margin-top: 20px"%>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>