<div class="jumbotron vertical-center">
<div class="container">
  <div class="row">
    <div class="col-xs-0 col-sm-2 col-md-3"></div>
    <div class="col-xs-12 col-sm-8 col-md-6 main-part">
      <h1 class="display-1"> Dodaj wydarzenie</h1>
      <%= form_with(model: @event, local: true) do |form| %>
        <% if @event.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :"Artysta" %>
          <%= form.text_field :artist, class: "form-control" %>
        </div>

        <div class="field">
          <%= form.label :"Krótki opis" %>
          <%= form.text_field :description, class: "form-control"  %>
        </div>

        <div class="field">
          <%= form.label :"Cena minimalna" %>
          <%= form.text_field :price_low, class: "form-control"  %>
        </div>

        <div class="field">
          <%= form.label :"Cena maksymalna" %>
          <%= form.text_field :price_high, class: "form-control"  %>
        </div>

        <div class="field">
          <%= form.label :"Data wydarzenia" %>
          <%= form.date_select :event_date, class: "form-control input-lg"  %>
        </div>

        <div class="actions">
          <%= form.submit class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
</div>