<table class="table">
  <thead>
  <tr>
    <th>ID wydarzenia</th>
    <th>Artysta</th>
    <th>Opis</th>
    <th>Cena minimalna</th>
    <th>Cena maksymalna</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <% events.each do |eventt| %>
    <tr>
      <td><%= eventt.id %></td>
      <td><%= eventt.artist %></td>
      <td><%= eventt.description %></td>
      <td><%= eventt.price_low %></td>
      <td><%= eventt.price_high %></td>
      <td><%= eventt.event_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>