<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Lista biletów</h1>

      <p id="notice"><%= notice %></p>



      <table class="table">
        <thead>
          <tr>
            <th>Dane osobowe</th>
            <th>ID miejsca</th>
            <th>Adres</th>
            <th>Cena</th>
            <th>Email</th>
            <th>Telefon</th>
            <th colspan="3"></th>
          </tr>
        </thead>



        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= ticket.name %></td>
              <td><%= ticket.seat_id_seq %></td>
              <td><%= ticket.address %></td>
              <td><%= ticket.price %></td>
              <td><%= ticket.email %></td>
              <td><%= ticket.phone %></td>

              <td><%= link_to 'szczegóły', ticket, class: "btn btn-xs btn-primary" %></td>

              <% if ticket.user == current_user and user_signed_in? %>
                <td>
                  <%= link_to 'edytuj', edit_ticket_path(ticket), class: "btn btn-xs btn-primary"  %>
                </td>
                <td>
                  <%= link_to 'usuń', ticket, method: :delete, data: { confirm: 'Jesteś pewien?' }, class: "btn btn-xs btn-primary"  %>
                </td>
              <% end %>


<!--              <td></td>-->
<!--              <td></td>-->
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'dodaj bilet', new_ticket_path, class: "btn btn-xl btn-primary" %>
    </div>
  </div>
</div>