<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-3 col-md-4"></div>
      <div class="col-xs-12 col-sm-6 col-md-4">

        <h2>Logowanie</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :Email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg" %>
          </div>

          <div class="field">
            <%= f.label :Hasło %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control input-lg" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :"Pamiętaj logowanie", class: "checkbox-inline h-6" %>
            </div>
          <% end %>

          <div class="actions row">
            <div class="col-xs-3"></div>
            <%= f.submit "zaloguj", class: "btn btn-lg btn-primary col-xs-6  mt-4", style: "margin-top: 20px"%>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>