// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.button a:link{
  color: #fff;
}

.button a:visited {
   color: #fff;
}

a:visited {
  color: #fff;
}

.event-list li {
  //margin-top: 10px;
  font-size: large;
  border: solid 1px #333;
}


.event-list li:hover {
  border: solid 1px #0275d8;
}

.event-list li a {
  display: block;
  width: 100%;
  padding: 20px 15px;
  padding-left: 25px;
  margin: 0;
  transition-property: width, background;
  transition-duration: 0.5s;
}

.event-list-title span {
  height: 100%;
  padding: 25px 15px;
  padding-left: 55px;
  margin: 0;
  font-weight: bold;
  font-size: larger;
  color: black;
  z-index: 99;
  //background: black;
}

.event-list li a:visited {
  color: black;
}

.event-list li a:hover {
  background: #0275d8;
  color: white;
  text-decoration: none;
}

.list-group-item {
   padding: 0;
}

.testbg {
  background: black;
}

.list_item {
  display: inline-block;
}

.title_date {
  padding-right: 55px !important;
}

.list-group-item-info {
  background: none;
}

.main-part {
  border: solid 1px #aaa;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
  min-height: 100%;
  background: none;
}

.content {
  font-size: larger;
  height: auto;
  margin-bottom: 30px;
}

.info-row {
  padding: 10px 0;
}

.list-container {
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#event-list-title-id {
  border: solid 1px #333;
}

.event-buttons {
  margin-top: 10px;
  margin-left: 15px;
}

.event-buttons a:visited{
  color: white;
}

.event-buttons a:hover{
  color: white;
}

.event-list a:visited {
   color: white;
 }