// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-buttons {
  margin-top: 10px;
  margin-left: 15px;
}

