.link-devise:link {
  color: #333;
}

.link-devise:hover {
  color: black;
  background: none;
  text-decoration: none;
}

.link-devise-menu:link {
  color: #333;
}

.link-devise-menu:hover {
  color: black;
  background: none;
}

.dividing-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 25px 0;
  padding: 0;
  width: 80%;
}

.main-page-menu-btn:link{
  color: white;
  min-width: 120px;
  margin-left: 15px;
  //margin-top: 10px;
}

.main-page-menu-btn:hover{
  color: white;
  background: #428bca;
}

.nav-bar-right-text {
  font-size: larger;
}

body {
  min-width: 400px;
}