<!DOCTYPE html>
<html>
  <head>
    <title>Bilecik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="navbar-textpull-right">
    <div class="row">
      <div class="col-xs-12 col-sm-6 nav-bar-right-text">
        <% if user_signed_in? %>
          Zalogowany jako: <strong><%= current_user.email %></strong>.
          <%= link_to 'Edycja profilu', edit_user_registration_path, :class => 'navbar-link link-devise-menu' %> |
          <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'navbar-link link-devise-menu' %>
        <% else %>
          <%= link_to "Rejestracja", new_user_registration_path, :class => 'navbar-link link-devise-menu' %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link link-devise-menu' %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 text-right">
        <%= link_to "wydarzenia", events_path, :class => 'navbar-link link-devise-menu btn btn-primary main-page-menu-btn' %>
        <%= link_to "bilety", tickets_path, :class => 'navbar-link link-devise-menu btn btn-primary main-page-menu-btn ' %>
      </div>
    </div>
  </p>


    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
